body {
    background: #eae2b7;
    font-family: "Nunito", sans-serif;
}

#maincontainer {
}

h1{
    font-size: 3em;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #2046f0;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.lead {
    color: turquoise;
}

.pad {
    margin-top:65px;
}
#logo {
    inline-size: 1.8em;

}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #f77f00;    
}

#mainNavbar .nav-link {
    color: white;
    transition: all 0.5s ease-in-out;
}

#mainNavbar .nav-link:hover {
    color: #fcbf49;
}

#mainNavbar .navbar-brand {
    color: #fcbf49;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #fcbf49;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #ffcdb2;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




